.chart
  inline-size: 100%
  block-size: 22rem
  min-block-size: 22rem

@media (max-width: 75rem)
  .chart
    block-size: 20rem
    min-block-size: 20rem

@media (max-width: 48rem)
  .chart
    block-size: 18rem
    min-block-size: 18rem
